body.index_page {
	background-color: rgb(211, 236, 96);
}

h1.index_page {
	font-size: 1.5em;
}

p.index_page {
	font-size: 12px;
	color: green;
}

.int_ro {
	height:80px;width:80px;border:solid 2px;
	padding-right: 50px;
}

ol.index_page {
    list-style-type:upper-alpha;
}

ul.index_page {
	list-style-type:square;
}
#wiki_pedia {
	color:red;
	font-family:serif;
}

body.second_page {
	background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg");
}
h1.second_page {
	margin-left: 40px;
	border:solid 2px;height:80px;width:110px;
	border-radius: 20px 10px;
	color:black
	}
p.second_page {
	margin-left:40px;
	background-color: red;
	display:inline-block;
	border-style:solid;
	border-radius: 15px 50px 30px 5px;
	padding: 20px;
}
.dog_smile {
	margin-left: 40px;
}