body {
	background-color: black;
}

body {
	color: white;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
	color: green;
}

.int_ro {
	height:80px;width:80px;border:solid 2px;
	padding-right: 50px;
}

ol {
    list-style-type:upper-alpha;
}

ul {
	list-style-type:square;
}
#wiki_pedia {
	color:red;
	font-family:serif;
}
